In [ ]:
# Importing Libraries
import pandas as pd 
from datasets import load_dataset
import matplotlib.pyplot as pyplot

# Loading Data 
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Clean Data
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [ ]:
# find the medians of the yearly and hourly salary respictively
median_salary_year = df['salary_year_avg'].median()
median_salary_hour = df['salary_hour_avg'].median()

In [ ]:
# Create new Dataframe replacing the NaN values with the medians
df_filled = df

df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)

In [ ]:
# Drop duplicates 
df_unique = df_filled

df_unique = df_unique.drop_duplicates()

df_unique = df_unique.drop_duplicates(subset=['job_title', 'company_name'])

In [ ]:
# return a random dample of the data
df.sample(10, random_state=42)

copy()

In [ ]:
df_original = dataset['train'].to_pandas()

In [ ]:
df_altered = df_original

In [ ]:
df_altered.loc[:5, 'salary_year_avg']

In [ ]:
median_salary = df_altered['salary_year_avg'].median()
median_salary

In [ ]:
df_altered['salary_year_avg'] = df_altered['salary_year_avg'].fillna(median_salary)

df_altered.loc[:5, 'salary_year_avg']

In [ ]:
df_original.loc[:5, 'salary_year_avg']

write copy() after dataframe to create an original copy that does not update

In [ ]:
df_alter = df_original.copy()